<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="main">
  <div class="main-content">
    <div class="page-title">
    </div>
    <div class="container">
      <div class="box">
        <div class="box-header">
          <h4 class="box-title">Novo Departamento</h4>
        </div>
        <div class="box-body">
          <form method="POST" action="/admin/departments/create">
            <div class="form-group mb-3">
              <label>Nome do Departamento:</label>
              <input type="text" name="department_name" class="form-control" required />
            </div>
            <div class="form-group mb-3">
              <label>Descrição:</label>
              <textarea name="description" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Criar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer') %>
