<%- include('partials/head') %>
    <!-- MAIN CONTENT -->
    <div class="loginpd">

        <div class="main-content">
            <section class="login">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="col">
                                <div class="py-5 text-center">
                                    <img class="d-block mx-auto mb-4" src="images/logo-projectflow.png" alt="" width="30%" height="30%">
                                    <h2>Bem-vindo ao ProjectFlow</h2><p style="">
                                        <a href="user/" class="btn btn-secondary my-2">Colaborador</a>
                                        <a href="admin" class="btn btn-secondary my-2">Administrador</a>
                                    </p>

                                </div>

                            </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

    <script src="/js/pages/toggle-password.js"></script>
<%- include('partials/footer') %>