<!DOCTYPE html>
<html lang="en">

<head>
            
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectFlow - Project Management System</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="/libs/date-picker/datepicker.css">
    <link rel="stylesheet" href="/libs/owl.carousel/assets/owl.carousel.min.css">

    <!-- CSS principal -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/icons.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">  
</head>

<body>
