<%- include('../partials/head') %>

<div class="loginpd">
    <div class="main-content">
        <section class="login">
            <div class="row">
                <div class="col-12">
                    <div class="box text-center py-5">
                        <h2 class="mb-4">Admin Panel</h2>
                        <p>Choose an option:</p>
                        <div class="mt-4">
                            <a href="/admin/login" class="btn btn-primary m-2">Login</a>
                            <a href="/admin/registration" class="btn btn-secondary m-2">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('../partials/footer') %>
